@model Customers_crud.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit customer";
    var errorMessage = TempData["ErrorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong> @errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}

<form action="Edit" method="post">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">ID number *</label>
        <input type="number" class="form-control" asp-for="Tz" />
        <span asp-validation-for="Tz" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Full name *</label>
        <input type="text" class="form-control" asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Date of birth *</label>
        <input type="date" class="form-control" asp-for="BirthDate" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="number" class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-outline-success">Update</button>
    </div>
</form>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}